/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 360px;
  height: 200px;
}
.gallery {
  list-style: none;
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
  padding: 24px 0;
  align-items: center;
}
.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}


.name-input {
  width: 360px;
  height: 40px;
  color: #2E2F42;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0 8px;
}
.textarea {
  width: 360px;
  height: 80px;
  color: #2E2F42;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 8px;
  margin-bottom: 8px;
}
.label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
}
.name-input:hover {
  border: 1px solid #000000;
  border-style: none;
}
.button {
  color: #FFFFFF;
  background-color: #4E75FF;
  width: 95px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  text-align: center;
  margin-top: 8px;
}
.button:hover {
  background-color: #6C8CFF;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}